body {
  background: hsl(300, 95%, 95%);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: repeat;
  direction: rtl;
  position:absolute; /* putting element in front of another*/
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  display: flexbox;
  box-sizing:border-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  background: hsl(300, 95%, 95%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 10px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

.btn {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  background-color: hsl(300, 95%, 30%);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
.btn:hover {
  border-color: hsl(0, 0%, 100%);
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.openbtn {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  background-color: hsl(130, 43%, 46%);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
.openbtn:hover {
  border-color: hsl(0, 0%, 100%);
}
.openbtn:focus,
.openbtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.lottieButton {
  border: none !important;
  border-width: none !important;
}
.lottieButton:focus {
  outline: none !important;
  outline-offset: none !important;
}
.hp-button { 
  position: absolute;
  z-index: 2;     
}
.rotate {
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
  background-color: pink;
}

.homePage { 
  /* transform: rotate(90deg); */
  position: relative; 
  overflow:hidden;
}
@media only screen and (min-width: 200px) {
.homePage {
  background-color: #ffcccc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
}
@media only screen and (max-width: 200px) {
  .homePage {
      background: #ffcccc;
      background-size: contain; 
  }
  }

  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .counter h1{
    color: hsl(300, 95%, 30%);
  }